@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Anton-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./NotoSansKR-Regular.otf");
}
